Flow_Data/*
Flow_Data_9_9/*
InterpolationCode/*
MainCodes/LSBU_100.vtu
MainCodes/artifacts/*
MainCodes/autoencoder.pth
MainCodes/buildings_101_101.npy
MainCodes/checkpoint_100.pth
MainCodes/checkpoint_1000.pth
MainCodes/checkpoint_1100.pth
MainCodes/checkpoint_1200.pth
MainCodes/checkpoint_1300.pth
MainCodes/checkpoint_1400.pth
MainCodes/checkpoint_1500.pth
MainCodes/checkpoint_1600.pth
MainCodes/checkpoint_1700.pth
MainCodes/checkpoint_1800.pth
MainCodes/checkpoint_1900.pth
MainCodes/checkpoint_200.pth
MainCodes/checkpoint_2000.pth
MainCodes/checkpoint_2100.pth
MainCodes/checkpoint_2200.pth
MainCodes/checkpoint_2300.pth
MainCodes/checkpoint_2400.pth
MainCodes/checkpoint_2500.pth
MainCodes/checkpoint_2600.pth
MainCodes/checkpoint_2700.pth
MainCodes/checkpoint_2800.pth
MainCodes/checkpoint_2900.pth
MainCodes/checkpoint_300.pth
MainCodes/checkpoint_3000.pth
MainCodes/checkpoint_400.pth
MainCodes/checkpoint_500.pth
MainCodes/checkpoint_600.pth
MainCodes/checkpoint_700.pth
MainCodes/checkpoint_800.pth
MainCodes/checkpoint_900.pth
MainCodes/models/*
fortran_building_volume_frac_codes/*
wandb/*
MainCodes/Flow_past_buildings_499.vtu
MainCodes/nooutputs/*
MainCodes/torchlogs/*
MainCodes/u2r.cpython-38-x86_64-linux-gnu.so
MainCodes/u2r2.so
MainCodes/u2rNew.cpython-38-x86_64-linux-gnu.so
MainCodes/unstruc_mesh_2_regular_grid_new
MainCodes/unstruc_mesh_2_regular_grid_new-1.f90
MainCodes/unstruc_mesh_2_regular_grid_new_old.f90
MainCodes/velocity.png
MainCodes/velocity_absorption.png
MainCodes/vol_frac_plot_9600_9600_buildings500.npy
MainCodes/wandb/
artifacts/